.main-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.primary-about {
  width: 100%;
  min-height: 210px;
  background-color: #064e3b;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  padding-bottom: 1.3em;
  padding-top: 1.3em;
}
.primary-about h1 {
  font-weight: bolder;
  font-size: 3em;
  margin: 5px;
  margin-top: 2em;
}
.primary-about p {
  color: #d1fce8;
  font-size: 1.3em;
}

.info-about {
  display: flex;
  width: 100%;
  margin: 0 auto;
  margin-top: 5em;
  margin-left: 1.7em;
  margin-bottom: 3em;

}
.about-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 1.1em;
  line-height: 2em;
}

.text-about {
  display: flex;
  flex-direction: column;
  width: 90%;
}
.text-about h1 {
  color: #111827;
  font-size: 3em;
  }
  .text-about p {
    color: #4b5563;
    font-size: 1.1em;
    width: 95%;
}

.photo-about {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.photo-about::before {
  content: "";
  top: -20px;
  left: -20px;
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: #064e3b;
  border-top-left-radius: 20px;
  z-index: -1;
}
.photo-about img {
  width: 85%;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: #63636333 0px 2px 8px 0px;
  transition: scale 0.4s ease-in-out;
}
.photo-about img:hover {
scale: 1.01;
}

.icon-compromise {
  display: flex;
  align-items: center;
  width: 90%;
  gap: 20px;
  margin-top: 1em;
}
.icon-compromise svg{
background-color: #6ee7b742;
color: #064e3b;
width: 3.3em;
height: 3.3em;
padding: 10px;
border-radius: 40px;
}
.text-compromise {
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 100%;
}
.text-compromise h6 {
font-weight: bolder;
margin: 0;

}
.text-compromise p {
margin: 0;
font-size: .9em;
color: #4b5563;
}

.about-values {
  width: 100%;
  min-height: 500px;
  background: linear-gradient(#d1fce856, #d1fce82d);
  text-align: center;
  margin-top: 6em;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding: 5px;
}

.text-value h1{
color: #111827;
font-weight: bolder;
}
.text-value p {
color: #4b5563;
font-size: 1.2em;
}

.board-about  {
  display: flex;
  word-break: break-all;
  width: 100%;
  gap: 30px;
}
.board-details-about{
  display: flex;
  justify-content: left;
  color: #4b5563;
  font-weight: 600;
  width: 60%;
  min-height: 200px;
  background-color: #ffffff;
  box-shadow: #63636333 0px 2px 8px 0px;
  border-radius: 10px;
  padding: 5px;
  transition: all 0.4s;
}
.board-details-about:hover{
  box-shadow: #63636333 0px 8px 16px 0px;
}
.board-details-about svg{
  width: 3.3em;
  height: 3.3em;
  font-weight: 100;
  background-color: #6ee7b742;
  box-shadow: #63636333 0px 2px 8px 0px;
  color: #064e3b;
  border-radius: 40px;
  padding: 10px;
}

.text-board {
display: flex;
flex-direction: column;
gap: 20px;
text-align: left;
margin: 1em;
padding: 10px;
}
.text-board h4{
color: #1f2937;
font-weight: bold;
}
.text-board p{
width: 90%;
}


@media screen and (max-width: 768px) {
  .primary-about h1 {
    font-size: 2.5em;
  }
  .primary-about p {
    color: #d1fce8;
    font-size: 1.1em;
  }

  .info-about {
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }

  .text-about {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  .text-about h1 {
    color: #111827;
    font-size: 2em;
    }
    .text-about p {
      width: 99%;
  }


    .icon-compromise {
      width: 95%;
      margin-top: 2em;
      margin-bottom: 3em;
    }


    .photo-about {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 0 auto;
    }
    .photo-about::before {
      left: 5px;
    }
    .photo-about img {
      width: 85%;
      margin: 0 auto;
    }

    .text-value p {
      font-size: 1.2em;
      }

      .board-about  {
        align-items: center;
        flex-direction: column;
  }

      .board-details-about{
        width: 95%;
      }

      .text-board h4{
        font-size: 1.3em;
        }
        .text-board p{
        width: 95%;
        }
}

@media screen and  (min-width: 769px) and (max-width: 1000px) {
  .info-about {
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }

  .text-about {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
    .text-about p {
      width: 99%;
  }


    .icon-compromise {
      width: 95%;
      margin-top: 2em;
      margin-bottom: 3em;
    }

    .photo-about {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 0 auto;
    }

    .photo-about::before {
      left: 40px;
    }
    .photo-about img {
      width: 85%;
      margin: 0 auto;
    }

      .board-about  {
        align-items: center;
        flex-direction: column;
  }

      .board-details-about{
        width: 80%;
      }
        .text-board p{
        width: 85%;
        }
  }




