.main-fedbacks {
    text-align: center;
    margin-top: 5em;
    margin-bottom: 5em;
  }

.title-fedbacks {
    padding: 15px;
}

.main-fedbacks .carousel-item {
    height: 240px; 
    min-width: 480px;
    width: 480px;
    min-height: 240px; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
  }

  .carousel-text {
    padding: 30px;
    text-align: center;
    margin: 1em;
    margin-bottom: 20px;
  }
  .carousel-text h3 {
   font-size: 1.4em;
  }
  .carousel-text p {
    font-size: 1.2em;
    padding-bottom: 1em;
  }
  
  .main-fedbacks .carousel-item {
    display: none;
  }
  .main-fedbacks .carousel-item.active {
    display: block; 
  }


  @media screen and (max-width: 767px) {
    .main-fedbacks .carousel-item {
      min-width: 300px;
      height: 290px;  
      min-height: 270px; 
      width: 300px;
    }
    .carousel-text h3 {
      font-size: 1.3em;
     }
     .carousel-text p {
       font-size: 1em;
       padding-bottom: 1em;
     }
    
  }
  
  @media screen and (min-width: 768px) and (max-width: 1267px) {
    .main-fedbacks .carousel-item {
      min-width: 380px;
      width: 380px;
    }}
  