.main-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-info p {
    width: 80%;
    text-align: center;
    font-size: 1.2em;
    margin: 0 auto;
    margin-top: 4em;
    padding-bottom: 3em;
}