.work-carousel {
  width: 100%;
  padding-bottom: 3em;
  color: black;
}

.work-carousel .carousel-item {
  display: none;
  transition: opacity 0.5s ease-in-out;
}

.work-carousel .carousel-item.active {
  display: flex;
  opacity: 1;
}

.carousel-item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  width: 700px;
  height: 480px; 
  margin: 0 auto;
}

.carousel-item img {
  width: 650px;
  height: 100%; 
  max-height: 480px; 
  object-fit: cover; 
  border-radius: 10px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  padding: 10px;
}

@media screen and (max-width: 767px) {
  .carousel-item {
    min-width: 300px;
    width: 100%;
    padding: 10px;
    height: 350px; }
  .carousel-item img {
    width: 100%; 
    max-height: 350px;
  }

.carousel-control-prev-icon,
.carousel-control-next-icon {
  transform: scale(0.7);
}
}